<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite1" parallel="tests" thread-count="2">
    <test name="Regression with Chrome browser">
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="com.testcases.Verify_Categories_Filter_Sort_Details"/>
        </classes>
    </test>
    <test name="Regression with Firefox browser">
        <parameter name="browserName" value="firefox" />
        <classes>
            <class name="com.testcases.Verify_Categories_Filter_Sort_Details"/>
        </classes>
    </test>
</suite>
